



*{
	font-family: Arial,sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
}



.cta button {
    margin-right: 10px;
	
}
.category {
    text-align: center;
	margin-top: 40px;
	
}

.categories {
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 50px;	
	
	
}

.featured-products {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
	
}

.product {
    text-align: center;
    margin-bottom: 40px;
	margin-right: 10px; 
	
}
.category img{
	transition: transform 0.3s;
}
.category:hover img{
    transform: scale(1.1);
}


.category button {
  color: white;
  border-radius: 8px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 15px;
  background-color: black;
  text-align: center;
  cursor: pointer;
  margin-left: 0px;
  font-family: Monospace;
  font-weight: bold;
}

 .category button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
 }
button:hover {
    transform: scale(1.1);
	transition: background-color 0.3s, color 0.3s;
}

button{
	background-color:black;
	color:white;
	
}
.avatar {
    border-radius: 15px;
    width: 50%;
	height:50%;
    transition: box-shadow 0.3s ease;
    text-align:justify;
}









